{:nrepl {:bind "127.0.0.1" :port 7888}
             :api-port 8080
             :nodes [{:address "root@XX.XX.XX.YY"
                      :location {:code "dev" :name "🏴‍☠️ Development"}
                      :dns "1.1.1.1, 1.0.0.1"
                      :weight 2}]}